@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@300&display=swap');

img.redir {
  height: auto;
  width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

div.index {
    background: url("backgrounds/bg01.jpg") no-repeat center center fixed;
    background-size: cover;
    z-index: 10;
    height: 100%;
    width: 100%;
}



div.indexbig {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
    font-family: 'Lexend Mega', sans-serif;
    font-size:150px;
}

div.indexsmall {
    text-align: center;
    height: 20%;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-family: 'Lexend Mega', sans-serif;
    font-size:50px;
}

table {
  width: 100%;
}

tr {
  height: 70px;
}
